[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
jupyter = "*"
python-craigslist = "*"
pandas = "*"
numpy = "*"
cachetools = "*"
joblib = "*"
cachier = "*"
sendgrid = "*"
firebase-admin = "*"

[requires]
python_version = "3.8"
