[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
ipykernel = "*"
jupyter = "*"
python-craigslist = "*"
pandas = "*"
numpy = "*"
cachetools = "*"
joblib = "*"
cachier = "*"
sendgrid = "*"
firebase-admin = "*"
pep8 = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
